Cnn1_5.pt
Cnn1_15.pt
INTERRUPTED.pth
checkpoint.pt
scaling_pix.py
train_lgbm.py
train_svm.py
figs/
train_regional_model.py 
.spyproject/
catboost_info/
__pycache__/
logs/
models/mlp_1000_500_NOLOG.h5
tensorboardlogs/
.ipynb_checkpoints
EOF.ipynb
Correlation.ipynb
data/
catboost.ipynb
generated_data/
earth_mask.ipynb
Missing values.ipynb
models/keras_models/
models/svr_models/
models/scalers/
models/pytorch_models/
models/model_catboost
*.ipynb
